<div class="row">
  <div class="col-md-3 form-group"><input type="text" name="quantities[][quantity]" class="form-control"></div>
  <div class="col-md-5 form-group"><input class="form-control" type="date" name="quantities[][expiration_date]" ></div>
</div>

